name: Build Go binary

on:
  push:
    branches:
      - "*"
    tags:
      - '*'
  schedule:
    - cron:  '18 14 7 * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.19
      - name: Refresh apt metadata
        run: sudo apt-get update
      - name: Install required packages
        run: sudo apt install -y make git libgpgme-dev libassuan-dev libbtrfs-dev libdevmapper-dev pkg-config
      - name: Build patched skopeo
        run: |
          git clone https://github.com/containers/skopeo.git
          cp Add_prependImagePrefix.patch ./skopeo
          cd skopeo
          git apply ./Add_prependImagePrefix.patch
          CGO_ENABLED=0 make bin/skopeo BUILDTAGS=containers_image_openpgp GO_DYN_FLAGS=
          ls -la ./bin/skopeo
          ./bin/skopeo sync --help
      - name: Upload patched skopeo
        if: ${{ github.event_name != 'schedule' && ( contains( github.ref, 'main') || github.ref_type == 'tag' ) }}
        uses: actions/upload-artifact@v3
        with:
          name: skopeo-patched
          path: ./skopeo/bin/skopeo
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artefact
        id: download
        if: github.ref_type == 'tag'
        uses: actions/download-artifact@v3
        with:
          name: skopeo-patched
      - name: Echo download path
        if: github.ref_type == 'tag'
        run: ls -la ${{steps.download.outputs.download-path}}
      - name: Create a new release
        if: github.ref_type == 'tag'
        uses: ncipollo/release-action@v1
        with:
          name: ${{ env.GITHUB_REF_NAME }}
          tag: ${{ env.GITHUB_REF_NAME }}
          draft: true
          artifacts: ${{steps.download.outputs.download-path}}/skopeo
